.appBarContainer {
    width: 100%;
    background-color: #1f2937;
    box-shadow: none;
    
  }
  
  .toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
  }
  
  .iconButton {
    color: white;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .iconButton:hover {
    color: rgb(42, 199, 76);
  }
  
  .badge {
    .MuiBadge-badge {
      background-color: #ff5252;
      color: white;
      font-size: 0.75rem;
    }
  }
  