.appBarContainer {
    width: 100%;
    color: white;
    box-shadow: none;
    
  }
  .whiteIcon{
    color: white;
  }
  .toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 0 16px;
  }

  .whiteIcon:hover {
    color: rgb(42, 199, 76);
  }
  
  .badge {
    .MuiBadge-badge {
      background-color: #ff5252;
      color: white;
      font-size: 0.75rem;
    }
  }
  