/* Основной стиль */
.admin-products {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #184d08;
  }
  
  .edit-btn {
    background-color: #28a745;
    margin: 5px;
  }
  
  .edit-btn:hover {
    background-color: #184d08;
  }
  
  .delete-btn {
    background-color: #630b63;
    margin: 5px;
  }
  
  .delete-btn:hover {
    background-color: #184d08;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-table th,
  .product-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #1d1d1d;
  }
  
  .product-table th {
    background-color: #f1f1f1;
    color: #1d1d1d;
  }
  
  .image-gallery {
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }
  
  .product-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .product-table td {
    font-size: 14px;
    color: #555;
  }
  
  .main-menu-btn,
  .back-btn {
    background-color: #17a2b8;
  }
  
  .main-menu-btn:hover,
  .back-btn:hover {
    background-color: #138496;
    color: white;
  }
  
  .back-button {
    margin-top: 20px;
  }
  
  
  .back-button button {
    margin-right: 10px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1d1d1d;
  }
  
  @media (max-width: 768px) {
    .admin-products {
      padding: 15px;
    }
  
    .button {
      font-size: 14px;
      padding: 8px 15px;
    }
    .edit-btn {
        margin-left: 10px;
        margin-bottom: 10px;
      }
  
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    .product-table {
      width: 100%;
      font-size: 12px;
      border: none;
    }
  
    .product-table th,
    .product-table td {
      padding: 8px 10px;
    }
  
    .product-table td {
      font-size: 12px;
      padding: 10px 5px;
    }
  
    .image-gallery {
      gap: 5px;
    }
  
    .product-image {
      max-width: 80px;
      max-height: 80px;
    }
  
    .product-table {
      display: block;
    }
  
    .product-table thead {
      display: none;
    }
  
    .product-table tbody {
      display: block;
      width: 100%;
    }
  
    .product-table tr {
      display: flex;
      flex-direction: column;
      padding: 10px;
      background-color: #fff;
      margin-bottom: 10px;
      border-radius: 5px;
    }
  
    .product-table td {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
    }
  
    .product-table td button {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      margin: 5px 5px;
    }
  
    .back-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;
    }
  
    .back-button button {
      margin-bottom: 10px;
    }
  }
  