.formContainer {
    max-width: 640px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }
  
  .formField {
    margin-bottom: 1.5rem;
  }
  
  .label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
  }
  
  .input,
  .textarea,
  .select,
  .fileInput {
    margin-top: 0.5rem;
    width: 90%;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    outline: none;
  }
  
  .input:focus,
  .textarea:focus,
  .select:focus,
  .fileInput:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
  }
  
  .submitButton {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: rgb(42, 199, 76);
  }
  
  .backButtonContainer {
    margin-top: 2rem;
    text-align: center;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #6b7280; 
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color:rgb(42, 199, 76);
    color: white;
  }
  
  .mainMenuBtn {
    margin-left: 0.5rem;
  }
  