.wrapper {
  position: relative;
  background-color: #f9f9f9;
}

.categoriesRow {
  display: flex;
  
}

.categoryBlock {
  position: relative;
}

.categoryButton {
  display: block;
  background-color: #f9f9f9;
  color: #292828;

  cursor: pointer;
}

.subcategoryDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: block;
}

.subcategoryItem {
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #292828;
}

.subcategoryItem:hover,
.subcategoryItem.activeSubcategory {
  background-color: #e1e1e1;
}

.activeCategory, .activeSubcategory {
  font-weight: bold;
  color: rgb(71, 116, 253);
}

.subcategoryDropdown {
  display: none;
}

.categoryBlock:hover .subcategoryDropdown {
  display: block;
}
