.navbar {
  background-color: #1f2937;
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: rgb(42, 199, 76);
}

.active {
  color: rgb(42, 199, 76);
  font-weight: 600;
}

.logoutButton {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(190, 190, 190);
  color: #ef4444;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #dc262669;
}

@media (max-width: 615px) {
  .navList {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .link,
  .logoutButton {
    width: 100%;
    text-align: left;
    padding: 0.75rem 1rem;
  }

  .navbar {
    padding: 1.2rem;
  }
}
