.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
    background-color: white;
  }
  
  .heading {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: rgba(71, 117, 253, 0.457);
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgb(71, 116, 253);
    color: white;
  }
  